apiVersion: v1
kind: PersistentVolume
metadata:
  name: database-pv
  labels:
    app: database
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: standard
  hostPath:
    path: /data/postgres
    type: DirectoryOrCreate
