apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: frontend
  labels:
    app: frontend
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
  - port: 4173
    targetPort: 4173
    nodePort: 30080
    protocol: TCP
    name: http
