apiVersion: kind.x-k8s.io/v1alpha4
kind: Cluster
name: eventhub
nodes:
  - role: control-plane
    extraPortMappings:
      - containerPort: 30080
        hostPort: 30080
        protocol: TCP
      - containerPort: 30081
        hostPort: 30081
        protocol: TCP
