name: Build and Push Service Images

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # 1. BUILD & PUSH DO BACKEND
      - name: Build and push Backend image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./backend/Dockerfile # Caminho do Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/backend-event-hub:${{ github.sha }} # Usa o SHA do commit para tag única
          cache-from: type=gha # Otimiza o build
          cache-to: type=gha,mode=max

      # 2. BUILD & PUSH DO FRONTEND
      - name: Build and push Frontend image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./frontend/Dockerfile # Caminho do Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/frontend-event-hub:${{ github.sha }} # Usa o SHA do commit para tag única
          cache-from: type=gha
          cache-to: type=gha,mode=max